* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 90vh;
    background-color: pink;
}
#box {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width:40%;
    height:500px;
    margin: 100px auto;
    outline: none;
}
.btn {
    width: 100px;
    letter-spacing: 10px;
}